/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 150px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.content {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.text-block {
    margin: 20px 0;
}

.text, .title {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.title {
    color: #fff; /* Neon blue */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

.animate {
    opacity: 1;
    transform: translateY(0);
}

/* Background canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Button Styles */
.button-container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #fff;
    border: none;
    color: #50bf61;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px #50bf61, 0 0 40px #50bf61, 0 0 50px #50bf61, 0 0 60px #50bf61;
}
